<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultBinding_SQLWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="DefaultBinding_SQLWebService"
                contract="SQLiteManager.WebService.SQLWebService" name="DefaultBinding_SQLWebService_SQLWebService" />
        </client>
    </system.serviceModel>
</configuration>